# Docker data
dags/DockerDesktopWSL

# Large datasets
plugins/large_file_million_rows.csv
plugins/etl/large_file_million_rows.csv
plugins/etl/sql_project.log
plugins/sql_project.log

# Misc tests
archive/

# Airflow Dag logs
logs/

# dbt compiled output
dbt/real_estate_dbt/target/

# dbt installed packages
dbt_packages/

# dbt logs
dbt/real_estate_dbt/logs/

# local credentials
dbt/real_estate_dbt/profiles.yml

# virtual environments
venv_airflow/
__pycache__/

# Misc file
project_structure.py
Real Estate Docker Mounting.txt
git_notes
docker-compose.yml
# OS-specific
.DS_Store
*.pyc
config.yml
