# Docker data
dags/DockerDesktopWSL

# Large datasets
plugins/etl/large_file_million_rows.csv
plugins/etl/sql_project.log

# Misc tests
archive/

# Airflow Dag logs
logs/

# dbt compiled output
dbt/real_estate_dbt/target/

# dbt installed packages
dbt_packages/

# dbt logs
dbt/real_estate_dbt/logs/

# local credentials
dbt/real_estate_dbt/profiles.yml

# virtual environments
venv_airflow/
__pycache__/

# Misc file
dbt/real_estate_dbt/models/marts/sales_price_range.sql.wip
dbt/real_estate_dbt/dbt_notes
project_structure.py
Real Estate Docker Mounting.txt
more_test.txt

# OS-specific
.DS_Store
*.pyc

